html, body {
    margin: 0;
    background-color: #cacaca;
}

/* --- start flex --- */

.d-flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.df-row {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.df-wrap {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.df-col {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.alit-start {
    -webkit-align-items: flex-start !important;
    align-items: flex-start !important;
}

.alit-end {
    -webkit-align-items: flex-end !important;
    align-items: flex-end !important;
}

.alit-center {
    -webkit-align-items: center !important;
    align-items: center !important;
}

.just-center {
    -webkit-justify-content: center !important;
    justify-content: center !important;
}

.just-start {
    -webkit-justify-content: flex-start !important;
    justify-content: flex-start !important;
}

.just-end {
    -webkit-justify-content: flex-end !important;
    justify-content: flex-end !important;
}

.just-between {
    -webkit-justify-content: space-between !important;
    justify-content: space-between !important;
}

.just-around {
    -webkit-justify-content: space-around !important;
    justify-content: space-around !important;
}

/* --- end flex --- */

.show-element {
    padding: 10px;
}

.cover-box {
    position: relative;
    width: 100%;
}

.exp-box {
    position: relative;
    width: 250px;
    height: 250px;
    margin: 1px;
}

.image-area {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.image-area {
    background-image: url('bg-flower.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 1
}

.image-area.dark.deg-0 {
    background-image: linear-gradient(0deg, #ffd900, rgba(255, 255, 255, 0.5), #7000f1), url('bg-flower.jpg');
}

.image-area.light.deg-0 {
    background-image: linear-gradient(0deg, #ffd900, rgba(255, 255, 255, 0.5), #7000f1), url('bg-flower.jpg');
}

.image-area.light.deg-45 {
    background-image: linear-gradient(45deg, #ffd900, rgba(255, 255, 255, 0.5), #7000f1), url('bg-flower.jpg');
}

.image-area.light.deg-90 {
    background-image: linear-gradient(90deg, #ffd900, rgba(255, 255, 255, 0.5), #7000f1), url('bg-flower.jpg');
}

.image-area.light.deg-135 {
    background-image: linear-gradient(135deg, #ffd900, rgba(255, 255, 255, 0.5), #7000f1), url('bg-flower.jpg');
}

.image-area.light.deg-180 {
    background-image: linear-gradient(180deg, #ffd900, rgba(255, 255, 255, 0.5), #7000f1), url('bg-flower.jpg');
}

.image-area.pink.deg-180 {
    background-image: linear-gradient(180deg, #ffd900, rgba(255, 255, 255, 0.5), #7000f1), url('bg-flower.jpg');
}

.content-area {
    position: relative;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

img {
    width: 350px;
}